.profile__modify-symbol {
  background-image: url(../../../ui-elements/modify-symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 8px;
  height: 8px;
  margin: auto;
}

@media screen and (min-width: 624px) {
  .profile__modify-symbol {
    width: 10px;
    height: 10px;
  }
}
