.profile__add-button {
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 2px;
  margin: 36px auto 0;

  grid-area: button;
}

@media screen and (min-width: 624px) {
  .profile__add-button {
    max-width: 150px;
  }
}
