:root {
  --gallery-gap-size: 20px;
  --small-screen-size: 320px;
  --medium-screen-size: 624px;
  --large-screen-size: 880px;
}

.root {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
