.pop-up__input-error {
  display: block;
  opacity: 0;
  padding: 5px 0 13px;
  width: 238px;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  min-height: 12px;
}

@media screen and (min-width: 624px) {
  .pop-up__input-error {
    width: 358px;
  }
}
