.pop-up__close-btn {
  /* background-color: inherit; */
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 20px;
  height: 20px;
  margin: 0 calc((100vw - var(--pop-up-container-s)) / 2) 16px auto;
  padding: 0;
  align-self: flex-end;
  background-image: url(../../../ui-elements/close-symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  transition: 0.3s;
}

.pop-up__close-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 624px) {
  .pop-up__close-btn {
    width: 32px;
    height: 32px;
    background-size: 32px;
    margin: 0 calc(((100vw - var(--pop-up-container-l)) / 2) - 40px) 8px auto;
  }
}
